@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 43px;
  font-weight: 600;
}

.navbar-item:hover > .down-arrow {
  rotate: -180deg;
  color: #2cbca5;
}

.ball-moving {
  animation-delay: 500ms;
}
